@import "reset.css";
@import "modern-normalize.css";

:root {
    --clr-text: hsl(74, 68%, 5%);
    --clr-background: hsl(73, 70%, 96%);
    --clr-primary: hsl(70, 71%, 53%);
    --clr-secondary: hsl(165, 71%, 70%);
    --clr-accent: hsl(196, 72%, 61%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 90%);
    --clr-neutral-300: hsl(0, 11%, 84%);
    --clr-neutral-500: hsl(0, 0%, 60%);
    --clr-success: hsla(143, 100%, 26%, 0.76);
    --clr-warning: hsla(43, 100%, 66%, 0.76);
    --clr-error: hsla(348, 89%, 47%, 0.76);


    --fs-100: clamp(0.6944rem, 0.6021rem + 0.4618vw, 0.96rem);
    --fs-200: clamp(0.8333rem, 0.7058rem + 0.6377vw, 1.2rem);
    --fs-300: clamp(1rem, 0.8261rem + 0.8696vw, 1.5rem);
    --fs-400: clamp(1.2rem, 0.9652rem + 1.1739vw, 1.875rem);
    --fs-500: clamp(1.44rem, 1.1257rem + 1.5717vw, 2.3438rem);
    --fs-600: clamp(1.728rem, 1.31rem + 2.0899vw, 2.9297rem);
    --fs-700: clamp(2.0736rem, 1.5211rem + 2.7626vw, 3.6621rem);
    --fs-800: clamp(2.4883rem, 1.7616rem + 3.6336vw, 4.5776rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --clr-text: hsl(150, 80%, 96%);
        --clr-background: hsl(153, 73%, 3%);
    }
}

h1 {
    font-size: var(--fs-600);
    font-weight: bold;
}

h2 {
    font-size: var(--fs-500);
    font-weight: bold;
}

h3 {
    font-size: var(--fs-400);
    font-weight: bold;
}

h4 {
    font-size: var(--fs-300);
    font-weight: bold;
}

h5 {
    font-size: var(--fs-200);
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: var(--fs-100);
}

.btn {
    background-color: var(--clr-neutral-100);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: var(--fs-800);
    height: var(--fs-800);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.btn-check {
    display: none;        
}

.hidden {
    display: none;
}

.btn:hover .static,
.btn:focus .static {
    display: none;
}

.btn:hover .hidden,
.btn:focus .hidden {
    display: inline-flex;
    cursor: pointer;
    transition: all 1s ease;
}

.btn-check:checked + .btn {
    border: 3px solid var(--clr-success);
}

.wrapper {  
    display: grid;
    place-content: center;
    grid-template-rows: auto 1fr auto;
    gap: 3rem;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
    min-height: 100dvh;
    background-image: url("../img/start-pattern.png");
    background-repeat: repeat;
}

/* HEADER */
header {
    grid-area: header;
}

header img {
    width: var(--fs-600);
    height: var(--fs-600);
}

.hero {
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    gap: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.logo {
    display: flex;
    gap: 1rem;
}

.hero h4 {
    text-shadow: 2px 2px 4px var(--clr-secondary);
}


/* MAIN */
main {
    grid-area: main;
}

main img {
    width: var(--fs-700);
}

.game {
    display: grid;
    grid-template-columns: 1fr 1.2fr  1fr;
}

.player {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    align-content: start;
    justify-content: center;
    background-color: var(--clr-neutral-300);
    height: fit-content;
    border-radius: 0.5rem;
}

.symbol {
    display: grid;
    gap: 0.5rem;
}

.player input {
    color: rgba(var(--clr-text),.87);
    border-bottom-color: rgba(var(--clr-text),.42);
    font-size: var(--fs-200);
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 1rem 0.5rem;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 3rem;
}  

.player input:hover{
    border-bottom-color: rgba(var(--clr-text),.87);
    background: var(--clr-neutral-200);
}

.player input:focus{
    border-color: var(--clr-accent);
}

.characters {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
}

.characters h4 {
    grid-column: span 2;
}

.startGame {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    margin-top: 5rem;
    align-content:  center;
    justify-content: center;
    height: fit-content;
}

.startGame button {
    color: rgba(var(--clr-text),.87);
    background-image: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
    font-size: var(--fs-400);
    font-weight: 500;
    width: 100%;
    box-shadow: 2px 2px 2cap var(--clr-neutral-100);
    filter: brightness(1.1);
    transition: filter 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.startGame button:hover {
    filter: none;
}

.winingMessage {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    align-content:  center;
    justify-content: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.125rem;
    padding: 0.5rem;
    align-content: start;
    justify-content: center;

}

.square{ 
    background-color: var(--clr-secondary);
    border: 1px solid var(--clr-accent);
    border-radius: 0.5rem;
    width: var(--fs-800);
    height: var(--fs-800);
    display: grid;
    
}

.square img {
    width: var(--fs-700);
    height: var(--fs-700);
    margin: auto;
}

footer  {
    grid-area: footer;
    font-size: var(--fs-300);
    text-align: center;
}